<div class="progress-circle" *ngIf="isVisible">
  <svg viewBox="0 0 36 36">
    <!-- Background circle -->
    <path class="circle-bg" d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831"/>

    <!-- Progress circle -->
    <path class="circle" [attr.stroke-dasharray]="progress + ', 100'" d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831" />

    <!-- Percentage text -->
    <a href="#" (click)="scrollToTop($event)"><text x="18" y="20.35" class="percentage">Top</text></a>
  </svg>
</div>