<app-navbar></app-navbar>

<div class="page-heading-container">
  <h1>Growth Chronicles</h1>
  <p>Chronicle your progress, embrace your potential</p>
</div>
<div class="articles-list-container">
  <div class="card" *ngFor="let article of articles" (click)="viewArticle(article.slug)">
    <img [src]="article.image" alt="{{ article.title }}">
    <div class="article-details-container">
      <h2 title={{article.title}}>{{ article.title | slice:0:24}}...</h2>
      <p title={{article.summary}}>{{ article.summary | slice:0:50}}</p>
      <p>Read: {{ article.minutes }}</p>
    </div>
  </div>
</div>

<app-footer></app-footer>