<!-- Navbar -->
<header class="navbar">
  <div class="navbar-logo-container">
    <a routerLink="/coming-soon" routerLinkActive="active">
      <img src="../../../assets/icons/logo.svg" alt="Inner Hunch" />
    </a>
  </div>
</header>

<div class="articles-list-container">
  <div class="card" *ngFor="let article of articles" (click)="viewArticle(article.slug)">
    <img [src]="article.image" alt="{{ article.title }}">
    <div class="article-image-container">

    </div>
    <div class="article-details-container">
      <h2 title={{article.title}}>{{ article.title | slice:0:24}}...</h2>
      <p title={{article.summary}}>{{ article.summary | slice:0:50}}</p>
      <p>Read: {{ article.minutes }}</p>

    </div>
    <!-- <button class="ih-primary-btn" (click)="viewArticle(article.slug)">Read More</button> -->
  </div>
</div>