.privacy-policy-main-container {
    width: 100%;
    padding: 0 20% 5% 20%;
    color: var(--app-grey);
}

.privacy-content-container {
    line-height: 1.5;
}

.privacy-content-container p a {
    text-decoration: none;
    font-weight: 600;
    color: var(--app-darkGreen-color)
}

.privacy-content-container h2 {
    margin: 10px 0;
    font-size: 18px;
}

.privacy-content-container ul {
    padding-left: 5%;
}

.privacy-content-container p, .privacy-content-container ul {
    font-size: 14px;
}

@media only screen and (max-width: 600px){
    .privacy-policy-main-container {
        padding: 0 5%;
    }
}