.dashboard-main-container {
    height: calc(100vh - 80px);
    width: 100%;
    background-color: rgb(175, 175, 252);
    margin-top: .5vh;
}

.dashboard-content-container {
    height: 100%;
    width: 100%;
    display: flex;
}

.dashboard-content-container .dashboard-left-container {
    width: 20%;
    height: 100%;
    background-color: yellow;
}

.dashboard-content-container .dashboard-middle-container {
    width: 50%;
    height: 100%;
    /* background-color: cyan; */
}

.dashboard-content-container .dashboard-right-container {
    width: 30%;
    height: 100%;
    background-color: olivedrab;
}