<div class="main-container">
    <div class="content-container">
        <img class="logo" src="../../../assets/icons/logo.svg"/>
        <h1>Coming Soon...</h1>
        <p>
            <span class="highlight-text">Inner Hunch</span> is built to bring more positivity, growth, and learning into your life.
            While we’re putting the final touches on our website, we invite you to stay patient and excited.
            Good things take time — and we promise it’ll be worth the wait!
        </p>
        <p>
            In the meantime, here are some handpicked articles to help you stay inspired and positive.
        </p>
        <button class="primary-btn">Read Articles</button>
    </div>
</div>