<!-- Navbar -->
<header class="navbar">
  <div class="navbar-logo-container">
    <a routerLink="/coming-soon" routerLinkActive="active">
      <img src="../../../assets/icons/logo.svg" alt="Inner Hunch" />
    </a>
  </div>
</header>

<!-- <div class="article-detail-container" *ngIf="article">
  <h1>{{ article.title }}</h1>
  <p><b>Author:</b> {{article.author}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>Reading Time: </b> {{article.minutes}}
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>Date: </b>{{article.date}}</p>
  <img [src]="article.image" alt="{{ article.title }}">
  <div class="article-content" [innerHTML]="article.content"></div>

  <div class="article-meta-details">
    <p><b>Comments:</b> {{article.author}}</p>
    <p><b>Hugs:</b> {{article.date}}</p>
  </div>
</div> -->

<section class="article-detail-main-container">
  <div class="article-banner-container">
    <img [src]="article.image" alt="{{ article.title }}">
    <div class="article-banner-meta-details">
      <h1>{{article.title}}</h1>
      <div class="meta-details">
        <p>~ {{article.author}}</p>
        <p>Read time: {{article.minutes}}</p>

      </div>
    </div>
  </div>
  <div class="article-details-container">
    <div class="article-author-details">
      <p>Hey there! I'm <b>{{article.author}}</b></p>
      <p>{{article.authorBio}}</p>
    </div>
    <div class="article-content-container">
      <div class="article-content" [innerHTML]="article.content"></div>
    </div>
  </div>
</section>