<app-navbar></app-navbar>

<section id="article-detail" class="article-detail-main-container">
  <div class="article-banner-container">
    <img [src]="article.image" alt="{{ article.title }}">
    <div class="article-banner-meta-details">
      <h1>{{article.title}}</h1>
      <div class="meta-details">
        <p>~ {{article.author}}</p>
        <p>Read time: {{article.minutes}}</p>

      </div>
    </div>
  </div>
  <div class="article-details-container">
    <div class="article-author-details">
      <p>Hey there! I'm <b>{{article.author}}</b></p>
      <p>{{article.authorBio}}</p>
    </div>
    <div class="article-content-container">
      <div class="article-content" [innerHTML]="article.content"></div>
    </div>
  </div>
</section>

<app-progress-circle [progress]="scrollProgress"></app-progress-circle>

<app-footer></app-footer>