<app-navbar></app-navbar>
<section class="contact-us-main-container">
    <div class="page-heading-container">
        <h1>Contact Us</h1>
        <p>We’d Love to Hear From You</p>
    </div>
    <div class="contact-us-content-container">
        <div class="contact-container">
            <div class="left-side">
                <p>If you have any questions or concerns, especially related to our policies, please refer to our
                    Privacy Policy first. For further assistance, feel free to reach out via the Contact Us page.</p><br>
                <p><strong>Email:</strong> innerhunch&#64;gmail.com</p>
                <p><strong>Phone:</strong> +91-9876543210</p>
                <p><strong>Address:</strong> Delhi, India</p>
            </div>

            <div class="right-side">
                <form class="contact-form" action="https://formsubmit.co/innerhunch@gmail.com" action="POST">
                    <label for="name">Name</label>
                    <input type="text" name="name" id="name" placeholder="Your name" required />

                    <label for="email">Email</label>
                    <input type="email" name="email" id="email" placeholder="Your email" required />

                    <label for="message">Message</label>
                    <textarea id="message" rows="5" placeholder="Your message" required></textarea>

                    <button type="submit" class="ih-primary-btn">Send Message</button>
                </form>
            </div>
        </div>
    </div>
</section>

<app-footer></app-footer>