/* .contact-us-main-container {
    width: 100%;
    padding: 0 20% 5% 20%;
    color: var(--app-grey);
}

.contact-us-content-container{
    line-height: 1.5;
}

.contact-us-content-container p a {
    text-decoration: none;
    font-weight: 600;
    color: var(--app-darkGreen-color)
}

.contact-us-content-container h2 {
    margin: 10px 0;
    font-size: 18px;
}

.contact-us-content-container ul {
    padding-left: 5%;
}

.contact-us-content-container p, .contact-us-content-container ul {
    font-size: 14px;
}

@media only screen and (max-width: 600px){
    .contact-us-main-container {
        padding: 0 5%;
    }
} */

/* ============= */
.contact-container {
    display: flex;
    flex-wrap: wrap;
    max-width: 1000px;
    margin: 50px auto;
    background: #fff;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.left-side {
    flex: 1;
    padding: 40px;
    background: linear-gradient(to right, #fff6f6, #dff5ee);
    color: var(--app-grey);
    line-height: 2;
}


.left-side h2 {
    margin-top: 0;
}

.right-side {
    flex: 1;
    padding: 40px;
}

.contact-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

@media screen and (max-width: 768px) {
    .contact-container {
        flex-direction: column;
    }

    .left-side, .right-side {
        padding: 5%;
    }
}