.navbar-main-container {
    height: 50px;
    width: 100%;
    border-radius: 10px;
    background-color: var( --app-container-bg);
    box-shadow: var(--app-box-shadow);
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 5px 10px;
    position: relative;
}

.navbar-logo-container {
    height: 100%;
    width: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-search-container {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}