  <app-navbar></app-navbar>

  <!-- Hero Section -->
  <section class="hero">
    <div class="hero-content">
      <h1>Nurture Your Inner Growth Journey</h1>
      <p>Discover a supportive space where personal growth meets community connection. Track your moods, express creativity, and transform your wellbeing.</p>
      <div class="hero-buttons">
        <div class="coming-soon-container">
          <h1>🚧 Coming Soon</h1>
          <button class="ih-primary-btn" type="button" (click)="goToArticles()">Read Articles...</button>
        </div>
      </div>
    </div>
  </section>

  <app-footer></app-footer>