<app-navbar></app-navbar>

<section class="hero">
  <div class="hero-content">
    <h1>Nurture Your Inner Growth Journey</h1>
    <p>Discover a supportive space where personal growth meets community connection. Track your moods, express
      creativity, and transform your wellbeing.</p>
    <div class="hero-buttons">
      <div class="coming-soon-container">
        <h1> ☘️ Coming Soon</h1>
        <p>Great things take time. We're working on it — till then, enjoy reading some of our articles.</p>
        <button class="ih-primary-btn" type="button" (click)="goToArticles()">Articles</button>
      </div>
    </div>
  </div>
</section>

<app-footer></app-footer>