<footer>
    <div class="links-main-container">
        <div class="quick-links">
            <a routerLink="/coming-soon" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">Home</a>
            <a routerLink="/articles" routerLinkActive="active-link">Articles</a>
            <a routerLink="/about-us" routerLinkActive="active-link">About</a>
            <a routerLink="/contact-us" routerLinkActive="active-link">Contact</a>
            <a routerLink="/privacy-policy" routerLinkActive="active-link">Privacy Policy</a>
        </div>
        <div class="social-links">
            <div class="social-icon">
                <a href="https://www.instagram.com/inner.hunch" target="_blank"><img src="../../../assets/icons/instagram.svg" alt=""></a>
            </div>
            <div class="social-icon">
                <a href="#2" target="_blank"><img src="../../../assets/icons/facebook.svg" alt=""></a>
            </div>
            <div class="social-icon">
                <a href="https://www.linkedin.com/in/inner-hunch-58a217358/" target="_blank"><img src="../../../assets/icons/linkedin.svg" alt=""></a>
            </div>
        </div>
    </div>
    <div class="copyright">
        <p>Copyright &copy; {{currentYear}} by <b>Inner Hunch</b></p>
    </div>
</footer>